@import "src/styles/colors";

.container {
  display: flex;
  gap: 42px;
}

.containerLeft {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
}

.poster {
  width: 266px;
  height: 357px;
  border-radius: 20px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.containerButtons {
  display: flex;
  svg > path {
    fill: $white;
  }

  .icon {
    width: 133px;
  }
}

.singleMovieInfo {
  text-align: start;
}
.genres {
  color: $light;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.name {
  color: $white;
  font-family: "Exo 2", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}

.infoNumbers {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 42px;
  margin-top: 26px;

  .rating {
    padding: 0 8px;
    background-color: $green;
    border-radius: 6px;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: $white;
  }

  .ratingImdb, .time {
    padding: 0 8px;
    background-color: $graphite;
    border-radius: 6px;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: $white;
  }
}

.filmDescription {
  color: $white;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 40px;
}


.description {
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $white;
  margin-bottom: 20px;
}

.descriptionInfo {
  display: flex;
  gap: 55px;
  list-style: none;
}

.descriptionInfo li {
  margin-bottom: 20px;
}

.descriptionInfo li:last-child {
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.descriptionInfoLeft {
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $light;
}

.descriptionInfoRight {
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $white;
}
