@import "src/styles/colors";

.container{

}

.personContainer {
  background-color: $dark;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 72px 40px 40px;
}

.passwordContainer {
  display: flex;
  background-color: $dark;
  border-radius: 10px;
  padding: 72px 40px 40px;
  justify-content: space-between;
  gap: 40px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  margin-top: 48px;

}

.lightContainer {
  .personContainer {
    background-color: $white;
    border: 2px solid $light
  }
  .passwordContainer {
    background-color: $white;
    border: 2px solid $light
  }
}