@import "src/styles/colors.scss";

.container {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.poster {
  width: 266px;
  height: 357px;
  overflow: hidden;
  margin-bottom: 24px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.text {
  color: $white;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}

.iconsContainer {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 246px;
  display: flex;
  justify-content: space-between;
}

.iconRating {
  padding: 0 8px;
  background-color: $green;
  border-radius: 6px;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
  color: $white;
}

.iconBookmark {
  svg > path {
    fill: $green;
  }
}

.lightContainer {
  .text {
    color: $black;
  }
}