@import "src/styles/colors";

.container {
  display: flex;
  flex-direction: column;
  background-color: $black;
  position: relative;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $black;
  position: relative;
  padding: 40px 64px 40px;
}

.searchContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.pixema {
  padding-right: 146px;
}
.infoContainer {

}

.searchInput {
  display: flex;
}

.searchButtonContainer {
  display: flex;
  align-items: center;
}

.searchButton {
  background-color: transparent;
  align-items: center;
}

.filtersButton {
  margin-left: 30px;
  background-color: transparent;
  padding: 16px;
}
.arrowDown {

}

.footer {
  display: flex;
  justify-content: flex-start;
  margin-top: 72px;
  padding: 32px 64px;
  color: $light;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.mainContainer {
  background-color: $black;
  display: flex;

}

.navLinkButtons {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 0 64px;
  gap: 40px;
  width: 150px;
}

.navLinkButton {
  display: flex;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  &:hover {
    .icon {
      svg > path {
        fill: $primary2;
      }
    }
   .title {
     color: $primary2;
   }
  ;
  }

}

.title {
  color: $white;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin-left: 20px;

}

.active {
  .icon {
    svg > path {
      fill: $primary;
    }
  }
  .title {
    color: $primary;
  }
}


.lightContainer {
 .container {
   background-color: $white;
 }

 .header {
   background-color: $white;
 }
  .mainContainer {
    background-color: $white;
  }
  .title {
    color: $black;
  }
}