@import "src/styles/colors";

.container {
width: 518px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $dark;
  padding: 48px 40px;
  position: fixed;
  top: 0;
  right: 0;
  overflow: scroll;
}

.titleContainer{
  display: flex;
  justify-content: space-between;
}

.filtersTitle {
  color: $white;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.genreContainer {
  height: 100px;
  background-color: $graphite;
}

.buttonContainer{
  display: flex;
  justify-content: space-between;
  margin-top: 111px;
}